/* .App {
  text-align: center;
} */

/* .footer-content {
  font-size: 16px;
  color: rgb(235, 230, 230);
  font-weight: 600;
} */
.chat-body {
  background-color: aliceblue;
  margin: 5em 30em;
  padding: 1em;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 20px;
}
.message-text {
  font-size: 20px;
  font-weight: 500;
}
.b-icons {
  font-size: 25px;
  margin-right: 5px;
}
